<%- include('./template/cabecera', {titulow: "Error"}); %>

    <h1 align="center">404</h1>
    <h2 align="center">
        <%= titulo%>
    </h2>
    <h2 align="center">
        <%= descripcion%>
    </h2>
    <%- include('./template/footer'); %>