<%- include('./template/cabecera', {titulow: "Error"}); %>

<img style="margin-left: 25%;" id="img" class="style-scope yt-img-shadow" alt="" src="https://www.klri.re.kr/images/cms/layout/error.png">

    <h1 align="center">404</h1>
    <h2 align="center">
        <%= titulo%>
    </h2>
    <h2 align="center">
        <%= descripcion%>
    </h2>
    <%- include('./template/footer'); %>