<%- include('./template/cabecera', {titulow: "Crear Producto"}); %>

<div class="text-success mt-4 mb-4" style="font-family: new times roman; font-variant: small-caps;">
    <h1 align="center">Crear Producto</h1>
</div>

<div class="container form-group" style="max-width: 40rem;">
    <form action="/productos" method="post">
        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="codigoInput" placeholder="Codigo Producto"
                name="codigo_producto" required>
            <label for="codigoInput">Codigo Producto</label>
        </div>
        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="nombreInput" placeholder="Nombre Producto"
                name="nombre_producto" required>
            <label for="nombreInput">Nombre Producto</label>
        </div>
        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="nitInput" placeholder="Nit del Proveedor"
                name="nitproveedor" required>
            <label for="nitInput">Nit del Proveedor</label>
        </div>
        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="compraInput" placeholder="Precio de Compra"
                name="precio_compra" required>
            <label for="compraInput">Precio de Compra</label>
        </div>
        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="ivaInput" placeholder="IVA del Producto"
                name="ivacompra" required>
            <label for="ivaInput">IVA del Producto</label>
        </div>
        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="ventaInput" placeholder="Precio de Venta"
                name="precio_venta" required>
            <label for="ventaInput">Precio de Venta</label>
        </div>
        <button class="btn btn-outline-success btn-block" type="submit" style="border-radius: 45px;">
            Agregar Producto
        </button>
    </form>
</div>
 
    <%- include('./template/footer'); %>