<%- include('./template/cabecera', {titulow: "Crear Producto"}); %>

<h1 align="center">Crear Producto</h1>
<div class="container">
    <form action="/productos" method="post">
        <input type="text" placeholder="Codigo Producto" class="form-control my-2" name="codigo_producto">
        <input type="text" placeholder="Nombre Producto" class="form-control my-2" name="nombre_producto">
        <input type="text" placeholder="Nit del Proveedor" class="form-control"Cliente" class="form-control my-2" name="nitproveedor">
        <input type="text" placeholder="Precio de Compra" class="form-control my-2" name="precio_compra">
        <input type="text" placeholder="IVA del Producto" class="form-control my-2" name="ivacompra">
        <input type="text" placeholder="Precio de Venta" class="form-control my-2" name="precio_venta">
        <button class="btn btn-success btn-block" type="submit">
            Agregar Producto
        </button>
    </form>
</div>
 
    <%- include('./template/footer'); %>