<%- include('./template/cabecera', {titulow: "Crear Venta"}); %>

<<<<<<< HEAD
<h1 align="center">Crear Venta</h1>
<div class="container">
    <form action="/ventas" method="post">

        <input type="text" placeholder="Cedula Cliente" class="form-control my-2" name="cedula_cliente">
        <input type="text" placeholder="C贸digo Venta" class="form-control my-2" name="codigo_venta">
                
        <input type="text" placeholder="Cantidad Producto" class="form-control my-2" name="cantidad_producto">
        <input type="text" placeholder="C贸digo Producto" class="form-control my-2" name="codigo_producto">
        <input type="text" placeholder="Valor Total" class="form-control my-2" name="valor_total">
        <input type="text" placeholder="Valor Venta" class="form-control my-2" name="valor_venta">
        <input type="text" placeholder="Valor IVA" class="form-control my-2" name="valoriva">

        <input type="text" placeholder="IVA Venta" class="form-control my-2" name="ivaventa">
        <input type="text" placeholder="Total Venta" class="form-control my-2" name="total_venta">
        <input type="text" placeholder="Valor Venta" class="form-control my-2" name="valor_venta">


        <button class="btn btn-success btn-block" type="submit">
=======
<div class="text-success mt-4 mb-4" style="font-family: new times roman; font-variant: small-caps;">
    <h1 align="center">Crear Venta</h1>
</div>

<div class="container form-group" style="max-width: 40rem;">
    <form action="/ventas" method="post">

        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="cedulaInput" placeholder="Cedula Cliente"
                name="cedula_cliente" required>
            <label for="cedulaInput">Cedula Cliente</label>
        </div>

        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="codigoVentaInput" placeholder="C贸digo Venta"
                name="codigo_venta" required>
            <label for="codigoVentaInput">C贸digo Venta</label>
        </div>

        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="valorVentaInput" placeholder="Valor Venta"
                name="valor_venta" required>
            <label for="valorVentaInput">Valor Venta</label>
        </div>

        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="ivaVentaInput" placeholder="IVA Venta"
                name="ivaventa" required>
            <label for="ivaVentaInput">IVA Venta</label>
        </div>

        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="totalVentaInput" placeholder="Total Venta"
                name="total_venta" required>
            <label for="totalVentaInput">Total Venta</label>
        </div>

        <button class="btn btn-outline-success btn-block" type="submit" style="border-radius: 45px;">
>>>>>>> 8d231af (archivos con front)
            Agregar Venta
        </button>
    </form>
</div>
 
    <%- include('./template/footer'); %>