<%- include('./template/cabecera', {titulow: "Crear Venta"}); %>

<h1 align="center">Crear Venta</h1>
<div class="container">
    <form action="/ventas" method="post">

        <input type="text" placeholder="Cedula Cliente" class="form-control my-2" name="cedula_cliente">
        <input type="text" placeholder="Código Venta" class="form-control my-2" name="codigo_venta">
                
        <input type="text" placeholder="Cantidad Producto" class="form-control my-2" name="cantidad_producto">
        <input type="text" placeholder="Código Producto" class="form-control my-2" name="codigo_producto">
        <input type="text" placeholder="Valor Total" class="form-control my-2" name="valor_total">
        <input type="text" placeholder="Valor Venta" class="form-control my-2" name="valor_venta">
        <input type="text" placeholder="Valor IVA" class="form-control my-2" name="valoriva">

        <input type="text" placeholder="IVA Venta" class="form-control my-2" name="ivaventa">
        <input type="text" placeholder="Total Venta" class="form-control my-2" name="total_venta">
        <input type="text" placeholder="Valor Venta" class="form-control my-2" name="valor_venta">


        <button class="btn btn-success btn-block" type="submit">
            Agregar Venta
        </button>
    </form>
</div>
 
    <%- include('./template/footer'); %>