<% /* NOMBRE DEL DATO TIPO DE DATO LONGITUD código_producto BIGINT 20 nombre_producto VARCHAR 50 nitproveedor BIGINT 20
    precio_compra DOUBLE ivacompra DOUBLE precio_venta DOUBLE */%>
    <%- include('./template/cabecera', {titulow: "Productos" }); %>

        <br><br>
        <h1 align="center" class="text-muted">Lista de Productos</h1>
        <br><br>
        <div class="container">
            <a class="btn btn-primary" href="/productos/crearProducto">Agregar Un Producto</a>
            <button type="button" class="btn btn-outline-success">Agregar Lista de Producto</button>
            <br><br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">Código del Producto</th>
                        <th scope="col">Producto</th>
                        <th scope="col">NIT Proveedor</th>
                        <th scope="col">Precio de Compra</th>
                        <th scope="col">IVA del producto</th>
                        <th scope="col">Precio de Venta</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <%/*
                    en esta parte va el codigo del archivo plano productos_datos.txt
                    */%>
                </tbody>
            </table>
        </div>


<%- include('./template/footer'); %>