<%- include('./template/cabecera', {titulow: "Reportes" }); %>
<<<<<<< HEAD
    <br><br>
    <h1 align="center" class="text-muted fw-bold fst-italic">
        <%= titulo%>
    </h1>
    <br><br>
=======

    reportes

>>>>>>> 8d231af (archivos con front)
<%- include('./template/footer'); %>