<%- include('./template/cabecera', {titulow: "Reportes" }); %>
    <br><br>
    <h1 align="center" class="text-muted fw-bold fst-italic">
        <%= titulo%>
    </h1>
    <br><br>
<%- include('./template/footer'); %>