<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http:/css/bootstrap.min.css" rel="stylesheet">
<<<<<<< HEAD
    <!-- Llamado a íconos pie de página-->
    <script src="https://kit.fontawesome.com/ea8e6c92c7.js"
    crossorigin="anonymous"></script>
    
    <title>Tienda Generica ->  <%= titulow %></title>
    <!-- <link rel="shortcut icon" href="http:favicon.ico" /> -->
=======
     <!-- Llamado a íconos-->
     <script src="https://kit.fontawesome.com/9189febbc2.js" crossorigin="anonymous"></script>
    <title>Tienda Generica ->  <%= titulow %></title>
>>>>>>> 8d231af (archivos con front)
</head>
<body>
    <%- include("navbar") %>
