<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
<!-- foot page -->
<div class="bg-dark fw-bold p-3 bg-opacity-75" style="margin-top: 40px;">
    <footer align = "center" class="bg-dark fw-bold p-1 bg-opacity-75" style="width: 100%;">
        <p style="color: #649e8b;">Grupo 53 * Tienda Generica * Equipo 1</p>
        <p style="color: #649e8b;">2021 All Right Reserved</p>
    
        <div class="justify-center" style="word-spacing: 60px;">
            <a href="https://www.facebook.com/" style="color: #649e8b;"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/" style="color: #649e8b;"><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fas fa-globe" style="color: #649e8b;"></i></a>
            <a href="https://www.google.com/" style="color: #649e8b;"><i class="fab fa-google-plus-g"></i></a>
            <a href="https://www.youtube.com/" style="color: #649e8b;"><i class="fab fa-youtube"></i></a>
        </div>
    </footer>
    </div>
</html>