<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
<div class="bg-dark fw-bold p-3 bg-opacity-75" style="margin-top: 40px;">
    <footer align="center" class="bg-dark fw-bold p-3 bg-opacity-75">
        <p style="color: #aaaaaa;">Grupo 53 * Tienda Generica * Equipo 1</p>
        <p style="color: #aaaaaa;">2021 All Right Reserved</p>

        <div class="justify-center" style="word-spacing: 60px;">
            <a href="https://www.facebook.com/" style="color: #aaaaaa;"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/" style="color: #aaaaaa;"><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.instagram.com/" style="color: #aaaaaa;"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/" style="color: #aaaaaa;"><span class="fab fa-youtube"></span></a>
        </div>
    </footer>
</div>
</html>